<div class="imgContainer">
    <div *ngIf="getId">
        <div id="userName" *ngFor="let user of users">
            <div *ngIf="user.id == getId">
                <div><img id="profileImg" src="{{ user.profileImage }}"/></div>
                <h2>{{ user.username }}</h2>
            </div>
        </div>
        <div id="profileLink">
            <a id="myProfile" (click)="addProfile()" routerLink="/{{ getId }}/myprofile">My Profile</a>
        </div>
    </div>
    <div class="line"></div>
    <app-user-image></app-user-image>
</div>